html, body {
    height: 100%;
    margin: 5px, 5px;
    font-size: 110%;
}

body {
    background: linear-gradient( rgb(205, 237, 241),rgb(89, 161, 177));
    background-attachment: fixed;
    background-size: cover;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.link-without-blue {
    text-decoration: none;
    color: inherit;
}

.top-bar {
    background: rgba(255, 255, 255, 0.2); 
    padding: 15px;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    margin-top: 90px;
    text-align: center;
    padding: 20px;
}

.about {
    width: 60%;
    max-width: 800px;
}

.about-content-wrapper {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.social-icon, .bio-link {
    display: inline-block;
    width: 60px;
    height: 60px;
    margin: 0 15px;
    background-color: transparent;
    border: 2px solid rgba(201, 240, 255, 0.8);
    border-radius: 15px; 
    transition: all 0.3s ease;
    cursor: pointer;
}

.bio-link {
    display: flex;
    justify-content: center; 
    align-items: center;
    text-align: center;
}

.github {
    background-image: url('https://cdn.jsdelivr.net/npm/simple-icons@v3/icons/github.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.openprocessing {
    background-image: url('	https://openprocessing.org/assets/img/logo/logo_36x30_color@2x.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.p5js {
    background-image: url('https://replit.com/cdn-cgi/image/width=128,quality=80,format=auto/https://storage.googleapis.com/replit/images/1654213125936_1520642e4003d6b91560fd1f966afcee.png');    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.youtube {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/4/42/YouTube_icon_%282013-2017%29.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.musescore {
    background-image: url('https://musescore.com/static/public/musescore/img/product_icons/apple-touch-icon-192x192-precomposed_ver1742569928.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.social-icon:hover, .bio-link:hover {
    transform: scale(1.2);
    box-shadow: 0 0 20px rgba(106, 183, 214, 0.8);
}

.project-grid-wrapper {
    margin-top: 150px;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    transition: transform 0.3s ease;
}

.project-card {
    background: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(8px);
    text-align: center;
    overflow: hidden;
    position: relative;
}

.project-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.project-card a {
    text-decoration: none;
    display: block;
}

.project-grid :hover {
    transform: scale(1.1);
}

.project-card h2 {
    margin-top: 10px;
    font-size: 22px;
    color: white;
}

.project-card .year {
    font-size: 16px;
    color: #111;
}

.project-card .description {
    font-size: 14px;
    color: #444;
    margin-top: 10px;
}